@using RequestConverterSSR.Conversion
@model IEnumerable<IRequest>
@{
    ViewData["Title"] = "Index";
}

<header>
    <nav id="main-navbar">
        <ul>
            <li>
                <a href="#">File</a>
            </li>
            <li>
                <a href="#">Edit</a>
            </li>
            <li>
                <a href="#">View</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>
    </nav>
</header>

<div id="outer-container">
    <div id="sidebar" class="sidebar">
        <div class="sidebarsection">
            <div class="sidebartitle">
                <p class="sidebartext" style="float: right;">SAVE & SHARE</p>
                <i class="sidebaricon fa-solid fa-circle-question" style=""></i>
            </div>
            <hr />
            <div class="sidebarcontent">
                <i class="sidebariconleft fa-solid fa-floppy-disk fa-xl"></i>
                <p class="sidebartext" style="float: right;">Save (CTRL + S)</p>
            </div>
        </div>

        <div class="sidebarsection">
            <div class="sidebartitle">
                <p class="sidebartext" style="float: right;">LANGUAGE</p>
                <i class="sidebaricon fa-solid fa-circle-question" style=""></i>
            </div>
            <hr />
            <div class="sidebarcontent">
                <i class="sidebariconleft fa-solid fa-code fa-xl"></i>
                <p class="sidebartext" style="float: right;">Python - Requests</p>
            </div>
            <div class="sidebarcontent">
                <i class="sidebariconleft fa-solid fa-code fa-xl"></i>
                <p class="sidebartext" style="float: right;">Python - XHTTP</p>
            </div>
            <div class="sidebarcontent">
                <i class="sidebariconleft fa-solid fa-code fa-xl"></i>
                <p class="sidebartext" style="float: right;">C# - HttpWebRequest</p>
            </div>
            <div class="sidebarcontent">
                <i class="sidebariconleft fa-solid fa-code fa-xl"></i>
                <p class="sidebartext" style="float: right;">C# - HttpClient</p>
            </div>
            <div class="sidebarcontent">
                <i class="sidebariconleft fa-solid fa-code fa-xl"></i>
                <p class="sidebartext" style="float: right;">C# - RestSharp</p>
            </div>
        </div>

        <div class="sidebarsection">
            <div class="sidebartitle">
                <p class="sidebartext" style="float: right;">SETTINGS</p>
                <i class="sidebaricon fa-solid fa-circle-question" style=""></i>
            </div>
            <hr />
            <div class="sidebarcontent">
                <i class="sidebariconleft fa-solid fa-square-check fa-xl"></i>
                <select name="requests" style="float:right;" id="request-select" onchange="ShowCode(this);">
                    @foreach (var req in Model)
                    {
                        <option value="@req.Url" id="@req.RequestID">@req.RequestType.ToString() @req.Url</option>
                    }
                </select>
            </div>
            <div class="sidebarcontent">
                <i class="sidebariconleft fa-solid fa-square-check fa-xl"></i>
                <p class="sidebartext" style="float: right;">Show headers</p>
            </div>
            <div class="sidebarcontent">
                <i class="sidebariconleft fa-solid fa-square-check fa-xl"></i>
                <p class="sidebartext" style="float: right;">Show request body</p>
            </div>
        </div>
    </div>
    <div id="content">
        @foreach (var req in Model)
        {
            <textarea style="display:none; width:600px; height:600px;" class="codeeditor" id="text-@req.RequestID">
                @(new PythonConverter().Convert(req))
            </textarea>
        }
    </div>
</div>

<header>
    <link rel="stylesheet" href="~/css/request.css" />
    <link rel="stylesheet" href="~/css/upload.css" />
    <link rel="stylesheet" href="~/lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/theme/nord.css">
</header>